.sabkapapa{
    justify-content: center;
}
.sabkuch{
    width: 100%;
}
.MuiTextField-root{
    width: 100%;
}
.son1{
    color: #72509d;
    justify-content: center;
    text-align-last: center;
    font-size: 30px;
    font-weight: 600;
}
.son2{
    background-color: #f1f1f1 !important;
    padding: 20px;
}
.pota1{
    justify-content: center;
    text-align-last: center;
}
.login{
    width: 100%;
    background-color: #72509d !important;
    margin: 10px 0 !important;
}
.register {
    background-color: #72509d !important;
    width: 100%;
    margin: 10px 0 !important;
}
h6{
    margin-top: 10px;
}
.partition{
    border: 1px solid #C4C4C4;
    margin: 15px 0;
}
.para{
    width: 50%;
    display: flex;
    background-color: #f1f1f1 ;
}
.check{
    display: flex;
    margin-top: 7px;
}
#tick{
    margin-top: 4px;
}
.para2{
    display: flex;
    width: 50%;
    margin-left: auto;
}
p{
    margin-left: 5px;
}
