.landingContainer {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  background-color: #ffffff;
  .emptyDiv {
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }
  @media (max-width: 450px) {
    min-width: auto !important;
  }
  .emptyDiv {
    @media (max-width: 768px) {
      height: auto;
    }
    @media (min-width: 768px) {
      height: 0px;
    }
  }
  .modalContainer {
    position: relative;
    background-color: #444444;
    padding: 1rem 1rem;
    border-radius: 20px;
    top: 0;
    height: max-content;
    @media (min-width: 768px) {
      width: 80%;
      top: -113px;
    }
    @media (max-width: 768px) {
      width: 95%;
    }
    @media (min-width: 900px) {
      justify-content: end;
      top: -100px;
    }
    @media (min-width: 1024px) {
      //justify-content: space-evenly;
      align-items: center;
      width: 90%;
    }
    @media (min-width: 1200px) {
      justify-content: space-evenly;
      align-items: center;
      width: 90%;
    }
    @media (max-width: 600px) {
      width: 95%;
      display: flex;
      text-align: -webkit-center;
    }

    .tf {
      background-color: #ffffff !important;
    }
    .modalCP1 {
      color: #ffffff;
      font-size: 1.2rem;
      font-family: "Poppins";
      font-weight: 700;
    }
    .modalCI1 {
      border-radius: 10px;
      height: 40px;
      width: 200px;
      padding-left: 10px;
    }
    .form1 {
      width: 220px;
      height: 40px;
      border: 1px solid #9babbf;
      border-radius: 10px;
      .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
        color: #9babbf;
        line-height: 0.8rem;
      }
      .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
        border-radius: 10px;
      }
    }

    .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
      background-color: #ffffff;
      background-image: url("./../../assets/arrowdown.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-position-x: 90%;
      font-size: 16px !important;
      .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
        display: none;
      }
      .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
        display: none;
      }
    }
    .modalCb1 {
      display: flex;
      color: #9babbf;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      background: #ffffff;
      width: 200px;
      height: 40px;
    }
    .modalCb2 {
      background-color: #d96581;
      color: #ffffff;
      border-radius: 10px;
      padding: 0.2rem 1rem;
      width: 220px;
      height: 40px;
      text-transform: none;
    }
    .modalCb2:hover {
      background-color: #ffffff;
      color: #d96581;
    }
  }
  @media (max-width: 550px) {
    .whatsapp {
      display: none;
    }
  }

  .whatsapp {
    width: 100px;
    height: 100px;
    align-self: flex-end;
    position: fixed;
    top: 80%;
    right: 50px;
    z-index: 9999;
    cursor: pointer;
  }
}
.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before {
  border: #444444;
}
.dropdown {
  display: block !important;
}
.lastDiv {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    text-align: center;
    font-weight: 600;
    font-family: "Cormorant Upright";
    padding-top: 90px;
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  p {
    color: #9babbf;
    text-align: center;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 20px;
  }
  img {
    @media (max-width: 900px) {
      width: 90%;
    }
  }
}
//ant carousel override
// .ant-carousel, .slick-slider {
//     height: 100vh !important;
// }
// .slick-list {
//     height: 100vh !important;
// }
// .ant-carousel .slick-vertical .slick-slide {
//     height: 100vh !important;
// }
// .landingContainer {
//     min-height: 100vh !important;
// }
// .Hero {
//     height: 90vh !important;
// }
