@import "./../../mainLayout/utillities_config";
.categoryContainer {
  font-family: "Poppins";
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;

  overflow: hidden;
  .topNavigation {
    margin-left: auto;
  }

  .PageLayout {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);

    .span-1 {
      justify-content: space-between;
      display: flex;
      align-items: center;
      .vertialL {
        width: 2px;
        height: 77px;
        border: 0.5px solid #818181;
      }

      margin-top: 1rem;
      margin-bottom: 1rem;
      text-decoration: uppercase;
      color: $secondaryColor;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 1/2;
      @media (min-width: 768px) {
        grid-column: 1/3;
        font-size: 0.9rem;
      }
      @media (min-width: 1024px) {
        grid-column: 1/2;
      }
      h1 {
        color: #db6e88;
        font-size: 40px;
      }
      .span1h1 {
        font-family: "Nunito";
        font-weight: 600;
        font-size: 50px;
        @media (min-width: 1600px) {
          font-size: 40px;
        }
      }
    }

    .span-2 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 2/3;
      @media (min-width: 768px) {
        grid-column: 3/6;
        h6 {
          font-size: 0.9rem;
        }
        p {
          font-size: 0.9rem;
          margin-left: 0;
        }
        grid-row: 1/2;
      }
      @media (min-width: 1024px) {
        grid-column: 2/5;
      }
      .span2h1 {
        font-family: "Nunito";
        font-weight: 400;
        font-size: 18px;
        color: #000000;
      }
      .span2p1 {
        font-family: "Nunito";
        color: #818181;
        font-weight: 400;
        font-size: 16px;
      }
    }
    .span-3 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
      padding-bottom: 20px;
      @media (min-width: 768px) {
        grid-column: 1/3;
        grid-row-start: 2;
        grid-row-end: 3;
      }
      @media (min-width: 1024px) {
        grid-column: 1/2;
      }
      .span3S {
        display: flex;
        justify-content: space-between;
        background: #f8f8f8;
        border-radius: 10px;
      }
    }
    .span-4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 5;
      display: grid;
      grid-template-columns: 0.65fr 0.35fr;
      gap: 1rem;
      justify-content: right;
      align-items: center;
      margin-bottom: -30px;
      .dropbtn {
        height: 40px;
        width: 200px;
        border: 1px solid #9babbf;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      div {
        grid-column: 1/4;
        display: flex;
        justify-content: space-between;
        p {
          min-width: fit-content;
          align-self: center;
        }

        @media (min-width: 450px) {
          grid-column: 1/2;
        }
      }
      button {
        grid-column: 1/4;
        background-color: #fff;
        box-shadow: #000;
        color: #000;
        height: 100%;
        font-size: 10px !important;
        @media (min-width: 450px) {
          grid-column: 2/3;
        }
      }
      .recommendbtn {
        height: 100%;
        color: #fff;
        border: 1px solid #d96581;
        background-color: #ffffff;
        font-size: 12px !important;
        width: 250px;
        color: #d96581;
        border-radius: 10px;
      }
      p {
        margin: 0;
      }
      @media (min-width: 450px) {
        grid-column: 1/5;
        button {
          font-size: 0.7rem;
        }
        grid-row-start: 4;
        grid-row-end: 5;
      }
      @media (min-width: 768px) {
        grid-column: 1/6;
        p {
          font-size: 0.8rem;
        }
        button {
          font-size: 0.8rem;
        }
        grid-row-start: 2;
        grid-row-end: 3;
      }
      @media (min-width: 1024px) {
        grid-column: 1/5;
        p {
          font-size: 0.9rem;
        }
        button {
          font-size: 1rem;
        }
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
        background-image: url("./../../assets/arrowdown.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 90%;
        font-size: 16px !important;
        @media (max-width: 1250px) {
          font-size: 14px !important;
        }
        .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
          display: none;
        }
        .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
          display: none;
        }
      }
      .span4f1 {
        width: 220px;
        height: 44px;
        border: 1px solid #9babbf;
        border-radius: 10px;
      }
    }

    .span-5 {
      margin-top: 1rem;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 5;
      grid-row-end: 6;

      box-shadow: 0px 5px 20px rgba(155, 171, 191, 0.3);
      border-radius: 20px;
      padding: 1rem;
      .DesktopFilter {
        @media (max-width: 768px) {
          display: none;
        }
        .hline {
          width: 300px;
          height: 2px;
          background: linear-gradient(
            90deg,
            rgba(155, 171, 191, 0) 1.04%,
            #9babbf 51.56%,
            rgba(155, 171, 191, 0) 100%
          );
        }
      }

      .seeachInFilter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .MuiTextField-root {
          margin: 0.4rem;
        }
      }
      @media (min-width: 768px) {
        grid-column: 1/2;
      }
      @media (min-width: 1024px) {
        grid-column: 1/2;
      }
      .css-1kst3do-MuiInputBase-root .MuiInputBase-input {
        padding-left: 10px;
      }
      .css-17djbj3-MuiSlider-valueLabel.MuiSlider-valueLabelOpen {
        background-color: transparent;
      }
      .span5d1 {
        display: block;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .span5d2 {
        width: 80%;
        align-self: center;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
      }
      .span5l1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .span5d3 {
        display: flex;
        flex-direction: row;
        //align-items: center;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
      }
      .span5d4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
      }
      .span5b1 {
        color: #fff;
        background-color: #d96581;
        border-radius: 10px;
        width: 290px;
        height: 44px;
        margin-top: 20px;
      }
      .span5b1:hover {
        background-color: #ffffff;
        color: #d96581;
        border: 1px solid #d96581;
      }
      .span5d5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .span5d6 {
        display: flex;
        flex-direction: row;
        //align-center: center;
        margin-top: 20px;
        justify-content: space-between;
        align-items: center;
      }
      .span5d7 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
      }
      .span5b2 {
        color: #fff;
        background-color: #d96581;
        border-radius: 10px;
        width: 290px;
        height: 44px;
        margin-top: 20px;
      }
      .span5b2:hover {
        background-color: #ffffff;
        color: #d96581;
        border: 1px solid #db6e88;
      }
    }

    .span-6 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row: 6/8;

      .collectionArr {
        display: grid;
        margin-top: 1rem;
        gap: 0rem;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 2.5rem;
        column-gap: 1rem;
      }
      @media (min-width: 450px) {
        grid-row: 6/8;
      }
      @media (min-width: 768px) {
        grid-column: 2/6;
        grid-row: 5/7;

        .collectionArr {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      @media (max-width: 600px) {
        .collectionArr {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      @media (min-width: 900px) {
        grid-column: 2/6;
        grid-row: 5/7;

        .collectionArr {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media (min-width: 1200px) {
        grid-column: 2/5;
        .collectionArr {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }

    .span-7 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 8;
      grid-row-end: 9;
      padding-bottom: 70px;
      margin: 1rem 0;
      .stackPagination {
        align-items: center;
      }
      button {
        &:hover {
          // background-color: $secondaryColor;
          color: #d96581;
        }
        &:link {
          // background-color: $secondaryColor;
          color: #d96581;
        }
      }
      @media (min-width: 768px) {
        grid-column: 1/6;
        .stackPagination {
          align-items: center;
        }
      }
    }
    @media (min-width: 1024px) {
      grid-column: 1/5;
      .stackPagination {
        align-items: center;
      }
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.MuiSlider-valueLabelLabel {
  color: #d96581;
  font-weight: 600;
}
.css-1kz0hui-MuiSlider-valueLabel.MuiSlider-valueLabelOpen {
  background-color: #ffffff;
}
.css-yafthl-MuiSlider-markLabel {
  font-weight: 600 !important;
  color: #9babbf !important;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  color: #d96581 !important;
}
.MuiDrawer-paperAnchorDown {
  width: 50% !important;
  @media (max-width: 650px) {
    width: 70% !important ;
  }
  @media (max-width: 500px) {
    width: 100% !important ;
  }
}
.downarrowDiv {
  box-shadow: 0px 5px 20px rgba(155, 171, 191, 0.3);
  border-radius: 10px;
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @media (min-width: 768px) {
    display: none;
  }
}
.uparrowDiv {
  box-shadow: 0px 5px 20px rgba(130, 141, 156, 0.3);
  border-radius: 10px;
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .css-1v5z18m {
    width: auto !important;
  }
}
.css-17djbj3-MuiSlider-valueLabel.MuiSlider-valueLabelOpen {
  background: transparent;
}
