.Hero {
  min-height: 180px;
  position: relative;
  @media (min-width: 450px) {
    min-height: 254px;
  }
  @media (min-width: 650px) {
    min-height: 290px;
  }
  @media (min-width: 768px) {
    min-height: 350px;
  }
  /*Things to complete*/
  /* 1. Code for screens lesser then 450px */

  @media (max-width: 840px) {
    .heroModal {
      display: none;
    }
  }
  @media (min-width: 768px) {
    min-height: 450px;
  }
  @media (min-width: 1024px) {
    min-height: 550px;
  }
  .heroModal {
    background-color: #dec177;
    width: 320px;
    height: 245px;
    padding: 2rem 3rem;
    position: absolute;
    /* Code for screens lesser then 450px */

    /* Code for Large Screens */
    @media (min-width: 1024px) {
      left: 100px;
      height: 300px;
      width: 400px;
    }
    h4 {
      font-family: Dancing Script;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: left;
      @media (min-width: 1024px) {
        font-size: 3rem;
      }
    }
    h2 {
      font-weight: 500;
      font-size: 3rem;
      text-align: left;
      @media (min-width: 1024px) {
        font-size: 4rem;
      }
    }
  }
  .herodiv1 {
    background: #ffffff;
    display: flex;
    height: 400px;
    width: 90%;
    justify-content: space-between;
    .allP {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .allP1 {
        text-transform: capitalize;
        font-size: 50px;
        color: #444444;
        font-weight: 500;
        font-family: "Cormorant Upright";
        margin-bottom: 0;
      }
      .allPb1 {
        background-color: #d96581;
        color: #ffffff;
        font-size: 11px;
        border-radius: 20px;
        text-transform: none;
        width: 180px;
        height: 40px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 700;
      }
    }
    .backgroundpic {
      width: 850px;
      position: relative;
      left: 12%;
    }
  }
}
@media (max-width: 768px) {
  .allP {
    display: block;
  }
  .big_img {
    display: none;
  }
}
