/* .mainHeader {
  display: none;
}
.footerWrapper {
  display: none;
} */
.LoginDiv {
  width: 90%;
  display: flex;
  margin: 0 auto;

  p,
  h6 {
    margin: 0 !important;
  }
  .leftpage {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    form {
      margin-bottom: 20px;
      input {
        width: 400px;
        height: 50px;
        background: #f8f8f8;
        border-radius: 10px;
        padding-left: 15px;
        outline: none;
      }
    }
    Button {
      width: 400px;
      height: 50px;
      background: #d96581;
      border-radius: 10px;
      p {
        margin: 0 auto !important;
      }
      img {
        margin-left: 5px;
      }
    }
    .leftpagediv1 {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: 700px;
      justify-content: space-around;
      .leftpagep1 {
        font-family: "Cormorant Upright";
        font-size: 14px;
        font-weight: 600;
        line-height: 0;
        text-transform: uppercase;
        color: #d96581;
        text-align: center;
      }
      .leftpagep2 {
        font-family: "Nunito";
        font-weight: 700;
        font-size: 30px;
        color: #d96581;
        text-align: center;
        margin-top: 20px !important;
      }
      .leftpagep3 {
        font-family: "Nunito";
        font-weight: 400;
        font-size: 18px;
        color: #9babbf;
        text-align: center;
      }
      .leftpagea1 {
        font-family: Nunito;
        font-weight: 700;
        font-size: 18px;
        color: #d96581;
        margin-top: 10px;
      }

      .leftpageb1 {
        background: #ffffff;
        border: 1px solid #d96581;
        color: #d96581;
      }
      .leftpageb1:hover {
        background-color: #d96581;
        color: #ffffff;
        .googleicon {
          color: #ffffff;
        }
      }
      .leftpageb2 {
        color: #ffffff;
      }
      .leftpageb2:hover {
        color: #d96581;
        background-color: #ffffff;
        border: 1px solid #d96581;
      }
      .leftpagep4 {
        font-family: "Nunito";
        font-weight: 400;
        font-size: 14px;
        color: #444444;
        padding-right: 10px;
      }
      .leftpagep5 {
        font-family: "Nunito";
        font-weight: 700;
        font-size: 14px;
        color: #d96581;
      }
    }
  }
  .rightpage {
    width: 50%;
    img {
      width: 166%;
      height: 100%;
      position: relative;
      right: 55%;

      z-index: -1;
      max-width: none;
      @media screen and (max-width: 1050px) {
        height: 80% !important;
        top: 20% !important;
      }
      @media screen and (max-width: 850px) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 850px) {
    .leftpage {
      width: 100% !important;
    }
    .rightpage {
      display: none !important;
    }
  }
}
