.sabkapapa {
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  align-items: center;

  @media screen and (max-width: 1000px) {
    overflow: hidden !important;
    .Ref {
      margin-top: 150px !important;
    }
  }
  .form_aba {
    @media screen and (max-width: 1000px) {
      .first_form,
      .second_form {
        display: flex !important;
        flex-direction: column !important;
        input {
          margin: 10px;
        }
        button {
          margin-top: 10px;
        }
      }
    }
    .second_form {
      @media screen and (max-width: 1000px) {
        align-items: center;
      }
    }
  }
  .sabkapapad1 {
    background: linear-gradient(
      90deg,
      rgba(155, 171, 191, 0) 1.04%,
      #9babbf 51.56%,
      rgba(155, 171, 191, 0) 100%
    );
    width: 80%;
    height: 2px;
  }
  .sabkapapap1 {
    font-family: "Cormorant Upright";
    color: #000000;
    font-weight: 700;
    font-size: 50px;
  }
  .sabkapapap2 {
    font-family: "Cormorant Upright";
    font-weight: 700;
    font-size: 50px;
    color: #444444;
    margin-top: 100px;
  }
  .sabkapapad2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .sabkapapad3 {
    display: flex;
    flex-direction: column;
    margin-left: -170px;
  }
  .sabkapapad4 {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .sabkapapap3 {
    font-size: 22px;
    font-weight: 700;
    font-family: "Nunito";
    color: #444444;
    width: 90%;
  }
  .sabkapapad5 {
    background: #d96581;
    border-radius: 30px;
    width: 4px;
    height: 24px;
  }
  .Ref {
    font-family: "Cormorant Upright";
    font-size: 60px;
    color: #444444;
    font-weight: 600;
    margin-top: 50px;
  }
  .sabkapapap4 {
    color: #9babbf;
    text-align: center;
    line-height: 40px;
    margin-bottom: 60px;
  }
  .sabkapapad6 {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    margin-top: 50px;
  }
  .sabkapapad7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sabkapapad8 {
    background: #d96581;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.flexwali {
  justify-content: center;
}
.one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.one-1 {
  font-family: "Bonheur Royale";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
  font-size: 100px;

  /* identical to box height */

  letter-spacing: 0.05em;

  color: #d96581;
}
.one-2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;

  text-align: center;
  color: #9babbf;
  width: 100%;
}
.two {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  p {
    margin-bottom: 0;
    line-height: 50px;
    color: #9babbf;
    font-size: 15px;
    font-family: "Nunito";
  }
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1000px;
  height: 500px;

  .child1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(155, 171, 191, 0.3);
    border-radius: 20px;
    width: 450px;
  }
  .child2 {
    width: 450px;
    background: #f8f8f8;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .child1 {
      margin-top: 200px;
    }
    .child2 {
      margin-top: 50px;
      margin-bottom: 250px;
    }
  }
}

.btn {
  background-color: #d96581;
  color: #ffffff;
  font-size: 12px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  .sabkapapapic1 {
    color: #ffffff;
  }
}
.btn:hover {
  background-color: #ffffff;
  color: #d96581;
  border: 1px solid #d96581;
  .sabkapapapic1 {
    color: #d96581 !important;
  }
}

.form-group {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  input {
    background-color: #f8f8f8;
    width: 200px;
  }
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9babbf;
  opacity: 1; /* Firefox */
  font-size: 12px;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9babbf;
  font-size: 12px;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9babbf;
  font-size: 12px;
}
