@import "./../utillities_config";

.textField {
  margin: 0.5rem 0;
  width: 350px;
  background-color: #ffffff;
  padding: 0.5rem 0.4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input {
    border: none;
    width: 100%;
    &:focus {
      border: none;
      outline: none;
    }
  }
  @media (min-width: 450px) {
    width: 400px;
  }

  @media (min-width: 768px) {
    width: 400px;
  }
  @media (min-width: 1024px) {
    width: 400px;
  }
}
