@import "./../utillities_config";

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .cardImage {
    img {
      width: 100%;
      height: auto;
    }
  }
  .cardTitle {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }

  .cardPrice {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 22px;
    color: #000000;
  }
  button {
    margin-bottom: 1rem;
  }
}
