@import "./../../mainLayout/utillities_config";

.ProductContainer {
  font-family: "Poppins";
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  padding-bottom: 200px;
  flex-direction: column;
  max-width: 1530px;
  a {
    text-decoration: none;
    color: $primaryFontColor;
    font-size: 0.7rem;
  }
  .topNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .productDetails {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 2fr;
    .sliderProduct {
      display: flex;
      flex-direction: row-reverse;
      grid-column: 1/2;
      padding: 0 0;
      // width: 680px;
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 100%;
      .swiper {
        margin-left: auto;
        margin-right: 0;
      }
      .product-image-slider {
        .swiper-slider {
          padding-top: 100%;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            top: 100px;
            left: 0;
            // width:100%;
          }
        }
        .swiper-button-prev {
          left: -13px;
          color: white;
          height: 56px;
          border-top-right-radius: 119%;
          border-bottom-right-radius: 119%;
          width: 52px;
          background: #00000033;
          &:after {
            font-size: 32px;
          }
        }
        .swiper-button-next {
          right: -13px;
          color: white;
          height: 56px;
          border-top-left-radius: 119%;
          border-bottom-left-radius: 119%;
          width: 52px;
          background: #00000033;
          &:after {
            font-size: 32px;
          }
        }
      }

      .product-image-slider-thumbs {
        .swiper-slide {
          cursor: pointer;
          width: 100px !important;
          display: block !important;
          height: 100px;
          &-thumb-active {
            border-color: $secondaryColor;
          }
        }

        &-wrapper {
          width: 100%;
          padding-top: 100%;
          overflow: hidden;
          position: relative;

          img {
            position: absolute;
            top: 0;
            left: 0;
            // width:100%;
          }
        }
      }
    }
    .productInformation {
      grid-column: 2/5;
      h6 {
        font-size: 0.8rem;
      }
      p {
        font-size: 0.6rem;
        color: $primaryFontColor;
      }
      #productDescription1 {
        margin-top: 0.8rem;
        font-family: "Nunito";
        font-weight: 600;
        margin-bottom: 0.8rem;
        div {
          &:nth-child(1) {
            padding: 10px;
            padding-right: 30px;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            border-radius: 10px;
            h6 {
              font-size: 0.8rem;
              font-weight: bold;
            }
          }

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: 1px solid $primaryFontColor;
            border-radius: 10px;
          }
        }
        .Cards {
          display: grid;
          gap: 0.5rem;

          grid-template-columns: repeat(3, 1fr);
          button {
            border-radius: 15px;
            border: 2px solid #9babbf;
            background: #ffffff;
            color: #9babbf;
          }
          button:focus {
            border: 3px solid #d96581;
            h6 {
              font-weight: 700;
            }
          }
          button:hover {
            border: 3px solid #d96581 !important;
          }
          .Cardsh61 {
            font-weight: 900;
            font-size: 15px;
            padding-top: 10px;
            font-family: "Nunito";
            color: #444444;
          }
          .Cardsh62 {
            font-family: "Nunito";
            font-weight: 400;
            font-size: 18px;
            color: #9babbf;
          }
          .Cardsh63 {
            font-weight: 900;
            font-size: 15px;
            padding-top: 10px;
            font-family: Nunito;
            color: #444444;
          }
          .Cardsh64 {
            font-family: "Nunito";
            font-weight: 400;
            font-size: 18px;
            color: #9babbf;
          }
          .Cardsp1 {
            font-family: "Nunito";
            font-weight: 400;
            font-size: 18px;
            padding-top: 10px;
            font-family: "Nunito";
            color: #9babbf;
          }
          .Cardsd1 {
            font-family: "Nunito";
            font-weight: 400;
            font-size: 16px;
            color: #9babbf;
          }
        }
        .productDescription1h6 {
          font-weight: 700;
          font-size: 15px;
        }
        .productDescription1p1 {
          color: #9babbf;
          font-size: 12px;
        }
      }

      #productDescription2 {
        font-family: "Nunito";
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        .Cards2 {
          display: grid;
          gap: 0.5rem;
          grid-template-columns: repeat(3, 1fr);
          button {
            border: 2px solid #c4c4c4;
            border-radius: 15px;

            background: #ffffff;
            // height: 120px;
            padding: 8px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
          }
        }
        .productDescription2h {
          font-weight: 600;
          font-size: 15px;
        }
      }

      #productDescription3 {
        margin-top: 0.8rem;
        font-family: "Nunito";

        margin-bottom: 0.8rem;
        width: 100%;
        .carousel {
          button {
            color: #d96581;
            background-color: #ffffff;
            border-color: #ffffff;
            box-shadow: 0px 5px 20px rgba(155, 171, 191, 0.3);
          }
          h6 {
            color: $primaryFontColor;
          }
        }
        .productDescription3h1 {
          font-weight: 700;
          font-size: 15px;
        }
        .productDescription3h2 {
          color: #444444;
          font-family: "Nunito";
          font-style: normal;
          font-weight: 600 !important;
        }
      }
      #productTotal {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        font-family: "Nunito";

        width: "100%";
        Button {
          height: "50px";
        }
        p {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          color: $primaryFontColor;
          font-size: 0.8rem;
          text-align: left;
        }
        .productTotalh1 {
          font-weight: 700;
          font-size: 15px;
        }
        .productTotalb1 {
          background-color: #d96581;
          color: #ffffff;
          width: 100%;
          border-radius: 5px;
          text-transform: none;
        }
        .productTotalb1:hover {
          background-color: #ffffff;
          color: #d96581;
          border: 1px solid #d96581;
        }
      }
      .productInformationd1 {
        display: flex;
        justify-content: space-between;
      }
      .productInformationd2 {
        display: flex;
        color: #444444;
        font-size: 13px;
        justify-content: end;
        .productInformationd2p1 {
          color: rgba(217, 101, 129, 1);
          font-size: 13px;
        }
      }
      .productInformationh6 {
        font-weight: 600;
        font-size: 20px;
        color: #d96581;
      }
      .productInformationp1 {
        color: #444444;
        font-size: 13px;
        margin-left: 0;
        margin-bottom: 20px;
      }
      .productInformationdivider1 {
        color: #c4c4c4;
        background: linear-gradient(
          90deg,
          rgba(155, 171, 191, 0) 1.04%,
          #9babbf 51.56%,
          rgba(155, 171, 191, 0) 100%
        );
      }
      .productInformationline1 {
        background: linear-gradient(
          90deg,
          rgba(155, 171, 191, 0) 1.04%,
          #9babbf 51.56%,
          rgba(155, 171, 191, 0) 100%
        );
        width: 100%;
        height: 2px;
      }
      .productInformationline2 {
        background: linear-gradient(
          90deg,
          rgba(155, 171, 191, 0) 1.04%,
          #9babbf 51.56%,
          rgba(155, 171, 191, 0) 100%
        );
        width: 100%;
        height: 2px;
      }
      .productInformationline3 {
        background: linear-gradient(
          90deg,
          rgba(155, 171, 191, 0) 1.04%,
          #9babbf 51.56%,
          rgba(155, 171, 191, 0) 100%
        );
        width: 100%;
        height: 2px;
      }
      .productInformationline3 {
        background: linear-gradient(
          90deg,
          rgba(155, 171, 191, 0) 1.04%,
          #9babbf 51.56%,
          rgba(155, 171, 191, 0) 100%
        );
        width: 100%;
        height: 2px;
        margin-top: 20px;
      }
    }
  }

  .productDetailTab {
    width: 100%;
    padding: 1.3rem 0.4rem;
    font-family: "Nunito";
    color: #9babbf;
    button {
      height: 0px;

      text-transform: none;
      background-color: transparent;
      color: #9babbf;
      color: $primaryFontColor;
      border-radius: 0.2rem;
      width: 60%;
      font-size: 1rem;
      &[aria-selected="true"] {
        color: #d96581;
        font-weight: bold;
        border-bottom: 3px solid #d96581;
      }
    }
    .MuiTabs-flexContainer {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
    .MuiTabs-indicator {
      background-color: transparent;
    }
  }
  .DetailList {
    .MuiListItemIcon-root {
      color: $secondaryColor;
      font-weight: 700;
    }
  }
  .productSlideHeading {
    margin-top: 200px;
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    &:before {
      content: "";
      position: absolute;
      width: 100%;

      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1;
    }
    h4 {
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
      background-color: #fff;
      z-index: 3;
      width: auto;
      position: relative;
      display: inline-block;
      padding: 0 20px 0 20px;
      margin: 0;
      color: #444444;
      font-family: "Cormorant Upright";
    }
  }
  .productSlide {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
  }
  .css-4pdmu4-MuiBreadcrumbs-ol {
    align-items: baseline;
  }
  .tabpaneld1 {
    .tabpaneld1h1 {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;
      font-family: Nunito;
      color: #444444;
      font-weight: 700;
      font-size: 20px;
    }
    .tabpaneld1h2 {
      font-weight: bold;
      color: #444444;
      font-family: "Nunito";
      font-size: 17px;
    }
    .tabpaneld2 {
      background: #d96581;
      border-radius: 10px;
      width: 5px;
      height: 24px;
    }
    .tabpanelp1 {
      color: #44444491;
      font-family: "Nunito";
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
    }
    .tabpaneld3 {
      background: #d96581;
      border-radius: 10px;
      width: 5px;
      height: 24px;
    }
    .tabpanelp2 {
      color: #44444491;
      font-family: "Nunito";
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
    }
  }
}
//---------------------------------calender--------------------------------------->
.both {
  .rightSide {
    width: 400px;
    height: 600px;
    left: 1010px;
    top: 150px;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(155, 171, 191, 0.3);
    border-radius: 20px;
    align-self: center;
    margin-left: 20px;
  }
  display: flex;
  .timediv {
    margin-left: 40px;
  }
  .css-1dozdou {
    margin-bottom: 30px !important;
  }
  .css-mvmu1r {
    margin: 10px 0 !important;
  }
  .css-epd502 {
    margin: 0 !important;
    width: 100% !important;
    max-height: none !important;
  }
  .css-169iwlq-MuiCalendarPicker-root {
    width: auto !important;
    max-height: none !important;
    margin: 0 !important;
  }
  .css-1n2mv2k {
    display: flex;
    justify-content: space-around !important;
  }
  .css-mvmu1r {
    display: flex;
    justify-content: space-around !important;
  }
  .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
    background-color: #ffffff !important;
    font-size: 16px;
  }
  .css-1tbq6mc-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
    display: none !important;
  }
  .css-i4bv87-MuiSvgIcon-root {
    display: block !important;
    color: #d96581 !important;
  }
  .css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border: 1px solid #d96581;
    color: #d96581 !important;
  }
  .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    color: #ffffff;
    background: #d96581 !important;
  }
  .css-hlj6pa-MuiDialogActions-root {
    display: none !important;
  }
  .css-7kykdr-MuiButtonBase-root-MuiIconButton-root {
    display: none !important;
  }
  .css-1v994a0 {
    // font-family: "Nunito";
    font-weight: 700;
    font-size: 30px;
    color: #d96581;
  }
  .css-1ae9t7h-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    background: rgba(217, 101, 129, 0.1);
    border-radius: 10px;
  }
  .css-jro82b-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    width: 40px;
    height: 40px;
    background: rgba(217, 101, 129, 0.1);
    border-radius: 10px;
  }
  .css-1w13o7u-MuiTypography-root {
    font-size: 16px;
    font-weight: 700;
    color: #444444;
  }
  .css-9reuh9-MuiPickersArrowSwitcher-root {
    margin-left: 30px;
  }
  .css-l0iinn {
    margin-right: 0;
  }
  .Cardsline1 {
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      rgba(155, 171, 191, 0) 1.04%,
      #9babbf 51.56%,
      rgba(155, 171, 191, 0) 100%
    );
  }
  .Cardsp2 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    color: #d96581;
    margin-bottom: 5px;
  }
  .Cardsp3 {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 16px;
    color: #9babbf;
  }
  .Cardsline2 {
    margin-bottom: 30px;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      rgba(155, 171, 191, 0) 1.04%,
      #9babbf 51.56%,
      rgba(155, 171, 191, 0) 100%
    );
  }
  .Cardsp4 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    color: #d96581;
    margin-bottom: 5px;
  }
  .Cardsp5 {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 16px;
    color: #9babbf;
  }
  .Cardspic1 {
    position: relative;
    left: 26rem;
    bottom: 5rem;
    cursor: pointer;
  }
  .Cardsp6 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #d96581;
    text-decoration: underline;
    margin-top: 50px;
  }
  .css-1cnkspq {
    min-height: 290px !important;
  }
  .Cardsd2 {
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
  }
  .Cardsp7 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #9babbf;
  }
  .Cardsd3 {
    width: 320px;
    height: 140px;
    background: rgba(217, 101, 129, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Cardsp8 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 30px;
    color: #d96581;
    margin: 0;
  }
  .Cardsp9 {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 20px;
    color: #d96581;
    margin: 0;
  }
  .Cardsp10 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #9babbf;
  }
  .Cardsd4 {
    width: 320px;
    height: 80px;
    background: rgba(217, 101, 129, 0.1);
    border-radius: 20px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 20px;
    color: #d96581;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .confirmbtn {
    width: 280px;
    height: 50px;
    background: #d96581;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
  }
  .confirmbtn:hover {
    background-color: #ffffff;
    color: #d96581;
    border: 1px solid #d96581;
  }
  .Cardsp11 {
    font-family: "Nunito";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #9babbf;
  }
}

//-----------------------------------end--------------------------------------->

.firstDiv:hover,
.secondDiv:hover,
.thirdDiv:hover {
  background: #d96581;
  color: #ffffff;
}
.superdiv {
  // border: 3px solid #72509d !important;
  padding: 10px;
}
.normalbtn {
  color: #818181;
  font-weight: 500;
  border: 1px solid #c4c4c4;
}
.selectbtn {
  border: 3px solid #d96581 !important;
}
.normalh6 {
  font-weight: 500 !important;
  color: #818181 !important;
}
.selecth6 {
  font-weight: 700 !important;
  color: #d96581 !important;
}
.normalp {
  font-weight: 500 !important;
  color: #818181 !important;
}
.selectp {
  font-weight: 700 !important;
  color: #d96581 !important;
}
.timingselect {
  border: 1px solid #d96581 !important;
  color: #d96581 !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500 !important;
  width: 208px;
  height: 50px;
  background: #d96581;
  border-radius: 10px;
  color: #ffffff !important;
  cursor: pointer;
}
.timingnormal {
  background: #ffffff;
  color: #000000;
  cursor: pointer;
}
.calender {
  align-items: normal !important;
}
.button3 {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    border: 0 !important;
  }
}
.css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #d96581 !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  background-color: rgba(128, 128, 128, 0.093) !important;
}
.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #d96581 !important;
}
//pen icon
.css-dtbg0r .PrivateDatePickerToolbar-penIcon {
  display: none;
}
//select date
.css-1hbyad5-MuiTypography-root {
  display: none;
}
.css-dtbg0r {
  background-color: #d96581;
  color: #ffffff;
  height: 270px;
}
.css-dhopo2 {
  min-height: 0px !important;
  height: 200px !important;
}

.timediv {
  background-color: #ffffff;
  display: flex !important;
  align-items: center !important;
  //flex-direction: column !important;
  .time {
    //padding-bottom: 30px !important;

    background-color: #d96581;
    width: 160px;
    height: 150px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;

    p {
      margin-bottom: 0;
      align-self: start;
    }

    .confirmbtn {
      font-size: 15px;
      background: #ffffff;
      color: #d96581;
      padding: 8px;
      border: 0;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }
  .result {
    .superdiv {
      display: flex;
      align-items: center;
      gap: 0 !important;
      justify-content: space-around;
      .firstDiv,
      .secondDiv,
      .thirdDiv,
      .fourthDiv,
      .fifthDiv,
      .sixthDiv,
      .seventhDiv {
        width: 220px;
        height: 50px;
        background: #ffffff;
        border: none;
        border-radius: 10px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;
        color: #818181 !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// .swiper-wrapper {
//   display: block;
// }
.product-image-slider-thumbs {
  .swiper-wrapper {
    display: block;
  }
}
.css-15x1sh8-MuiButtonBase-root-MuiCheckbox-root {
  left: 10rem !important;
  //  bottom: 13rem !important;
  z-index: 10;
}
.css-15x1sh8-MuiButtonBase-root-MuiCheckbox-root .MuiSvgIcon-root {
  font-size: 20px !important;
}
/* .css-i4bv87-MuiSvgIcon-root {
  display: none !important;
} */
.collectionArr {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.lastslider {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
